<nav>
    <ul>
        <li class="nav"><a href="/">Home</a></li>
        <li class="nav"><a href="/charities">Charities</a></li>
        <li class="nav"><a href="/weather">Weather</a></li>
    </ul>
</nav>