<nav>
    <ul class="navUL">
        <li class="navLI"><a href="/">Home</a></li>
        <li class="navLI"><a href="/charities">Charities</a></li>
        <li class="navLI"><a href="/weather">Weather</a></li>
    </ul>
</nav>