<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charities</title>
    <link rel="stylesheet" href="public/styles/index.css">
</head>
<body>

    <!-- Header partial -->
    <%- include('../partials/header.ejs') %>

    <!-- Navigation partial -->
    <%- include('../partials/nav.ejs') %>

    <h2>Charities</h2>
    <section class="textBox">
        <h3 class="charityHeader">Action Aid</h3>
        <p class="charityTextDescription">Action Aid is an international charity that works with women and girls living in poverty. They began working in Cambodia in 1999 supporting the most vulnerable communities in Cambodia. Action Aid establishes community savings groups which allow members to borrow and repay money to help start small businesses. In which, they can afford to send their children to school. They also provide a "Safe Cities" programme which targetting local and national authorities to ensure improvement in the safety of women and young girls.<br><br>Relavantly to our cause they help provide day labourers who cannot earn money for food when floods arrive. Additionally they provide training on crop diversification and new techniques to farmers, which then can passs on that knowledge in their communities. This is where our website may be useful for viewing an easy to read forecast of upcoming weather events.</p>
        <img src="../../public/images/ActionAid.jpg" class= "charityImage"/>
    </section>
    
    <section class="textBox">
        <h3 class="charityHeader">All For Kids NGO</h3>
        <p class="charityTextDescription">All For Kids NGO is a charity focused in Cambodia to educate and reintegrate rural communities in improving their standards of living. They increase access to qualified education and life skills they'd use in their own home communities. Create job opportunities through vocaltional training and partner with established enterprises. In short All For Kids' mission is to provide a self sustainable life for the people in thes rural communities.<br><br>In our case we can help support this cause by providing readable weather forecasts for anyone to ensure journeys to school are safe and to avoid dangerous trips that could cause harm to kids travelling to schools.</p>
        <img src="../../public/images/AllForKids.jpg" class= "charityImage"/>
    </section>

    <section class="textBox">
        <h3 class="charityHeader">Engineerings without Borders, Australia</h3>
        <p class="charityTextDescription">Engineers without Borders Australia's division has engaged with a range of people living and working with the communities in our specifc case study Pu Ngaol. They contributed a lot of time and expertise into creating a brief covering a range of problems in Pu Ngaol as well as indiviual case studies into peoples lives connected to Pu Ngaol. They are aware of how technology impacts communities and considers the benefits before, during and after the creation of innovations.<br><br> We hope that Engineers without Borders Australia can implement our website through the communities and provide an easy to use weather forecast for the local people of Pu Ngaol.</p>
        <img src="../../public/images/EWB.jpg" class= "charityImage"/>
    </section>

    <!-- Footer partial -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>