<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charities</title>
    <link rel="stylesheet" href="public/styles/index.css">
</head>
<body>

    <!-- Header partial -->
    <%- include('../partials/header.ejs') %>

    <!-- Navigation partial -->
    <%- include('../partials/nav.ejs') %>

    <h2>Charities</h2>
    <section class="textBox">
        <h3 class="charityHeader">Charity 1</h3>
        <p class="charityTextDescription">Charity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 description</p>
<<<<<<< HEAD
        <img src="../../public/images/lotusflower.jpg" class= "charityImage"/>
=======
        <img src="lotusflower.jpg" class= "charityImage"/>
>>>>>>> 25973b575f8c950a388ed935bd3a6aeb1d9ae186
    </section>
    <section class="textBox">
        <h3 class="charityHeader">Charity 2</h3>
        <p class="charityTextDescription">Charity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 descriptionCharity 1 description</p>
<<<<<<< HEAD
        <img src="../../public/images/lotusflower.jpg" class= "charityImage"/>
=======
        <img src="lotusflower.jpg" class= "charityImage"/>
>>>>>>> 25973b575f8c950a388ed935bd3a6aeb1d9ae186
    </section>

    <!-- Footer partial -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>