<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pu Ngaol Relief Project</title>
    <link rel="stylesheet" href="public/styles/index.css">
</head>
<body>

    <!-- Header partial -->
    <%- include('../partials/header') %>

    <!-- Navigation partial -->
    <%- include('../partials/nav.ejs') %>

    <h2>Our Mission</h2>

    <div>
        <section class="indexBox">
            <p class="indexText">We are a team of individuals, looking to help develop the agricultural side of Pu Ngaol. We believe this project will support multiple goals of the UN Sustainable Development. This includes improving poverty, eliminating hunger by improving farming, better health and wellbeing from a thriving agriculture, and building towards a thriving community which is sustainable.</p>
            <img src="../../public/images/UNGoals.png" class="indexImage">
        </section>
    </div>
    <div class="spacer">
        <section class="indexBox">
            <img src="../../public/images/village.jpg" class="villageImage">
            <p class="indexTextRight">Using our project, members of the small village Pu Ngaol will be able to better prepare for weather events, by using the information generated on our page from a weather application interface. Additionally, you will be able to find charities which are in support of our project, and also charities that work towards improving life in cambodia.</p>
        </section>
    </div>

    <!-- Footer Partial -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>