<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pu Ngaol Relief Project</title>
    <link rel="stylesheet" href="public/styles/index.css">
</head>
<body>

    <!-- Header partial -->
    <%- include('../partials/header') %>

    <!-- Navigation partial -->
    <%- include('../partials/nav.ejs') %>

    <h2>Our Mission</h2>

    <div>
        <section class="indexBox">
            <p class="indexText">We are a team of individuals, looking to help develop the agricultural side of Pu Ngaol. We believe this project will support multiple goals of the UN Sustainable Development. This includes improving poverty, eliminating hunger by improving farming, better health and wellbeing from a thriving agriculture, and a sustainable community.</p>
            <img src="../../public/images/UNGoals.png" class="indexImage">
        </section>
    </div>
    <div>
        <section class="indexBox">
            <img src="../../public/images/UNGoals.png" class="indexImage">
            <p class="indexTextRight">We are a team of individuals, looking to help develop the agricultural side of Pu Ngaol. We believe this project will support multiple goals of the UN Sustainable Development. This includes improving poverty, eliminating hunger by improving farming, better health and wellbeing from a thriving agriculture, and a sustainable community.</p>
        </section>
    </div>

    <h2>Title</h2>

    <!-- Footer Partial -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>