<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pu Ngaol Relief Project</title>
    <link rel="stylesheet" href="public/styles/index.css">
</head>
<body>

    <!-- Header partial -->
    <%- include('../partials/header') %>

    <!-- Navigation partial -->
    <%- include('../partials/nav.ejs') %>

    <!-- Footer Partial -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>