ul {
    list-style-type: none;
    padding: 10px;
}

.nav {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color: white;
    padding: 0px 25px;
}

nav {
    background-color: #493d3f;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.active {
    color: grey;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: #493d3f;
    color: white;
}

header {
    color: #2596be;
    font-family: Verdana, sans-serif;
    text-align: center;
}

footer p {
    font-family: Verdana, sans-serif;
    padding-left: 10px;
}

.textBox {
    border: 4px solid #333;
    border-radius: 20px;
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

h2 {
    color: #2596be;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 250%;
}

.charityHeader {
    color: #2596be;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 200%;
    margin: 0%;
}

.charityTextDescription {
    display: inline-block;
    font-size: 145%;
    width: 70%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    font-family: Verdana, sans-serif;
}

.charityImage {
    display: inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 20px;
    border: 4px solid #333;
}

.weatherIcon {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #333;
    padding: 10px;
}

#images {
    text-align: center;
}

#statusHeader {
    text-decoration: none;
}

.indexBox {
    width: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.indexImage {
    display: inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 4px solid #333;
}

.indexText {
    display: inline-block;
    font-size: 145%;
    width: 70%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    font-family: Verdana, sans-serif;
    text-align: left;
}

.indexTextRight {
    display: inline-block;
    font-size: 145%;
    width: 70%;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    font-family: Verdana, sans-serif;
    text-align: right;
}

.villageImage {
    display: inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    border: 4px solid #333;
}

.spacer {
    padding-bottom: 10%;
}